@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/624afd97dbf85b221b75484d/fonts/gotham-medium.otf")
    format("opentype");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6546a6a8e6cfe31c46f5ccea/fonts/gotham-book.otf")
    format("opentype");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6733f3b89c04f21c988716b9/fonts/pretendard-medium.otf")
    format("opentype");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/681c02510381d3a49b99eb95/fonts/pretendard-regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/67616c3af382bd2c4698df42/fonts/pretendard-semibold.otf")
    format("opentype");
}

