@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/* Gotham fonts replaced with Montserrat from Google Fonts */
@font-face {
  font-family: "Gotham-Medium";
  src: local("Montserrat");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Book";
  src: local("Montserrat");
  font-weight: 400;
  font-display: swap;
}

/* Pretendard fonts from jsDelivr CDN */
@font-face {
  font-family: "Pretendard-Medium";
  src: local("Pretendard Variable");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: local("Pretendard Variable");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: local("Pretendard Variable");
  font-weight: 600;
  font-display: swap;
}

